<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Defesa Civil</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
    <header>
        <div class="container img-box">
        <div class="jumbotron">
            <img src="logo.jpg" alt="DefesaCivil" class="img-rounded corner-img">
        </div>
        </div>
                    
        <h1 class="text-center page-title">Defesa Civil</h1>
    </header>
    
    <div class="container login-box">
    <div class="jumbotron">
        <form>
        <div class="input-group">
            <input id="email" type="text" class="form-control" name="email" placeholder="Email" ng-model="usuario">
        </div>
        <div class="input-group">
            <input id="password" type="password" class="form-control" name="password" placeholder="Senha" ng-model="senha">
        </div>
        <button class="btn btn-default btn-md" id="loginButton" ng-click="login()">Entrar</button>
        </form>
        
    </div>
    </div>
    <div class="text-center smalll">
        <a href="#" ng-click="esqueceuSenha()"><u>Esqueceu a senha?</u></a>
    </div>

    <footer>
        <div class="container">
        <div class="smalll">
            <span class="text-left footer">Telefone: {{telefone}}</span>
            <span class="footer">Endereço: {{endereco}}</span>
        </div>
        </div>
    </footer>
    </div>

    <script src="angular.js"></script>
</body>
</html>