<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Defesa Civil</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
    <header>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="main.html" class="navbar-brand" style="font-size: 30px;">Defesa Civil</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html"><u style="font-size:20px;">Sair</u></a></li>
                <li><img src="logo.jpg" alt="DefesaCivil" class="img-circle img-perfil" ng-click="perfil()"></li>
            </ul>
        </div>
        </nav>
        <h4 class="navegation"><a href="main.html"><u ng-repeat="x in caminho">{{x.name + " > "}}</u></a></h4>
    </header>
        
    <div class="side-menu">
    <div class="container">
    <div class="jumbotron">
        <h4 class="text-center">Ocorrências</h4>
        <ul class="menu-ul">
            <li><a href="CadastroOcorrencias.html">Cadastrar</a></li>
            <li><a href="consultarOcorrencia.html">Consultar</a></li>
        </ul>
    </div>
    </div>
            
    <div class="container">
    <div class="jumbotron">
        <h4 class="text-center">Usuários</h4>
        <ul class="menu-ul">
            <li><a href="consultarUsuarios.html">Consultar</a></li>
        </ul>
    </div>
    </div>
    </div>

    <div class="container positioning">
    <div class="jumbotron">
        <div class="box">
            <p>Endereços</p>
            <nav ng-mouseover="show=true">
                <span>Endereço principal:</span>
                <span>Logradouro</span>
                <span class="glyphicon glyphicon-pencil"></span>
            </nav>
            <nav>
                <span>Coordenada principal:</span>
                <span>Rua abc</span>
            </nav>
            <nav>
                <span>Endereço numeral:</span>
                <span>123</span>
            </nav>
            <nav>
                <span>Endereço referência:</span>
                <span>456</span>
            </nav>
        </div>

        <div class="box">
            <p>Agentes</p>
            <nav>
                <span>Agente principal:</span>
                <span>João</span>
            </nav>
            <nav>
                <span>Agente de apoio 1:</span>
                <span>Pedro</span>
            </nav>
            <nav>
                <span>Agente de apoio 2:</span>
                <span>José</span>
            </nav>
        </div>
        <div class="box">
            <p>Ocorrencia</p>
            <nav>
                <span>Ocorrência retorno:</span>
                <span>Não</span>
            </nav>
            <nav>
                <span>Código de referência:</span>
                <span>123456789</span>
            </nav>
            <nav>
                <span>Data de lançamento:</span>
                <span>20/10/2010</span>
            </nav>
            <nav>
                <span>Data de ocorrência:</span>
                <span>18/10/2018</span>
            </nav>
            <nav>
                <span>Descrição:</span>
                <span>xxxxxxxxx</span>
            </nav>
            <nav>
                <span>Origem:</span>
                <span>xxxxxxxx</span>
            </nav>
        </div>
        <div class="box">
            <p>Atentidos</p>
            <nav>
                <span>Pessoa atendida 1:</span>
                <span>Maria</span>
            </nav>
            <nav>
                <span>Pessoa atendida 2:</span>
                <span>Roberto</span>
            </nav>
        </div>
        <div class="box">
            <p>Tipo</p>
            <nav>
                <span>Cobrade:</span> 
                <span>Enchente</span>
            </nav>
            <nav>
                <span>Natureza da ocorrência:</span> 
                <span>xxxxxxxxx</span>
            </nav>
            <nav>
                <span>Possui fotos:</span>
                <span>Não</span>
            </nav>
        </div>
        <div class="box">
            <p>Status</p>
            <nav>
                <span>Prioridade:</span>
                <span>Média</span>
            </nav>
            <nav>
                <span>Analisado:</span>
                <span>Sim</span>
            </nav>
            <nav>
                <span>Congelado:</span>
                <span>Não</span>
            </nav>
            <nav>
                <span>Encerrado:</span>
                <span>Sim</span>
            </nav>
        </div>
    </div>
    </div>
    </div>

    <script src="angular.js"></script>
</body>