body{
    background-color: #ffe;
}

.img-box{
    position: absolute;
    top: 0px;
    left: 40px;
    width: 230px;
    height: 500px;
    padding: 0px;
    border: 10px;
}

.corner-img{
    position: absolute; 
    left: 40px; 
    top: 10px; 
    width: 150px;  
    padding: 0px;
    border: 0px;
}

.page-title{
    position: absolute;
    top: 30px;
    left: 40%;
    font-size: 60px;
    color: gray;
}

.login-box{
    position: relative;
    top: 200px;
    float: center;
    width: 50%;
}

.input-group{
    padding: 10px;
    width: 100%;
}

.btn{
    position: relative;
    left: 45%;
    top: 10px;
    font-size: 15px;
    padding: 10px;
}

.small{
    position: relative;
    top: 175px;
}

footer{
    position: relative;
    top: 100px;
}

.footer{
    display: inline;
    padding: 0px 400px 0px 0px;
}

.navegation{
    font-size: 14px;
    padding: 0px 0px 0px 10px;
}

.side-menu{
    position: absolute;
    top: 100px;
    left: 20px;
    width: 230px;
    padding: 15px 0px 0px 0px;
    background-color: #999;
    border-radius: 10px;
}

.side-menu .jumbotron{
    width: 200px;

}

div h4{
    position: relative;
    top: -40px;
}

.menu-ul{
    position: relative;
    top: -25px;
    left: -70px;
    list-style-type: none;
}

.img-perfil{
    width: 50px;
}

iframe{
    width: 100%;
    height: 600px;
}

.positioning{
    position: absolute;
    top: 100px;
    left: 300px;
    width: 60%;
}

.box{
    background-color: white;
    font-size: 14px;
    color: black;
    padding: 10px;
    border: 10px;
    text-align: center;
}

.box-question{
    position: relative;
    top: 0px;
    width: 200px;
}

.box-question nav{
    padding: 12px;
}

.box-answer{
    position: relative;
    top: -220px;
    left: 230px;
    width: 300px;
}

.box-first{
    
}