body{
    padding: 0px;
    margin: 0px;
    background-color: #ffe;
}

/* login */
.img-box{
    position: relative;
    right: 35%;
    width: 15%;
    padding: 0px;
}

.corner-img{
    position: relative;
    left: 10%;
    width: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
}

.page-title{
    position: relative;
    left: 28%;
    font-size: 60px;
    color: gray;
}

.login-box{
    position: relative;
    top: 60px;
    float: center;
    width: 50%;
}

.esqueceuSenha{
    position: relative;
    left: 40%;
}

/* header */
.img-perfil{
    width: 30px;
}

/* geral */
.positioning{
    width: 70%;
    padding: 0px;
}

.campo_cadastro{
    padding: 15px 0px 15px 0px;
    margin: 0px;
}

.box{
    background-color: white;
    font-size: 14px;
    color: black;
    padding: 5px 15px 5px 15px;
    margin: 0px 10px 10px 10px;
    text-align: left;
    width: 100%;
}

.box p{
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.input-group{
    padding: 10px;
    width: 100%;
}

.form-control{
    width: 100%;
}

.btn{
    position: relative;
    left: 45%;
    top: 10px;
    font-size: 15px;
    padding: 10px;
}

.email_esqueceu_senha{
    position: relative;
    top: -40px;
}

.inline{
    display: inline-block;
}

.hide{
    display: none;
}

.alertErro{
    color:#f22a1f;
    font-size:14px;
}

.box-search{
    position: relative;
    top: -30px;
}

.none{
    display: none;
}

.autocomplete{
    width: 100%;
}

.autocompleteBtn{
    border: 1px solid #A5ACB2;
    width: 100%;
}

.btn-ocorrencia{
    display: inline;
    margin: 10px;
}

.titulo{
    font-size: 15px;
    font-weight: bold;
    margin: 0px 5px 0px 20px;
}

.texto-cabecalho{
    font-size: 16px;
}

.img-cabecalho{
    float: right;
    width: 60%;
}

.img-perfil-expandida{
    width: 100%;
}

.readtextarea{
    width: 90%;
    position: relative;
    left: 5%;
}

/* especificos */
.cobrade{
    position: relative;
    left: 50px;
}

.btn-default1{
    width: 30%;
}

.edit{
    float: right;
}

.btn-sm{
    position: relative;
    top: 0px;
    left: 10px;
    font-size: 10px;
    padding: 5px;
    margin: 0px;
}

.char-count{
    color:#ccc;
    font-size:12px;
    position: relative;
    bottom:20px;
    left:90%;
}

.sort-icon{
    font-size: 10px;
    float: right;
}

.ocorrencias_encerradas{
    margin-left: 20px;
}

.endereco-principal{
    width:30%;
    display:inline;
}

.lat-lgn{
    width:30%;
    display:inline;
}

.data{
    width:30%;
    display:inline;
}

.cobrade-sub{
    width: 50%;
}

.btn-interdicao{
    position:relative;
    left:50%;
    top:-33px;
}

.btn-interdicao-g{
    position:relative;
    left:50%;
    top:-33px;
}

.map-information{
    position: absolute;
}

.map-dot{
    position: absolute;
    top: 7px;
    left: -20px;
    height: 20px;
    width: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
}

.map-image{
    position: relative;
    left: 10%;
    height: 700px;
    width: 80%;
}

.quadro-informacao{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

i{
    display: inline-block;
    padding: 3px;
}

.arrow-up{
    position: relative;
    top: 5px;
    right: 5px;
    border: solid red;
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.arrow-down{
    position: relative;
    top: 2px;
    right: 5px;
    border: solid green;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.estavel{
    position: relative;
    right: 5px; 
    border: solid blue;
    border-width: 0 0px 3px 0;
}

.legenda{
    font-size: 16px;
    position: relative;
    top:5px;
}

/* footer */
.footer{
    display: inline;
    padding: 0px 150px 0px 0px;
    position: relative;
    top: 100px;
}

/* ajustes pra telas pequenas */
@media only screen and (max-width: 1000px){
    .corner-img{
        display: none; 
    }
    
    .page-title{
        font-size: 40px;
        left: 20%;
        margin: 0px;
    }

    .footer{
        display: block; padding: 0px 0px 0px 0px;
    
    }

    .cabecalho{
        display: none;
    }

    .esqueceuSenha{
        left: 30%;
    }
    
    .container{
        width: 100%;
        padding: 0px;
    }

    .jumbotron{
        width: 100%;
        padding: 5px;
    }

    .box{
        width: 100%;
        padding: 5px;
        margin: 0px;
    }

    .ocorrencias_encerradas{
        display: block;
        margin: 0px;
        padding: 0px;
    }

    .elimina-tabela{
        display: none;
    }

    .endereco-principal{
        width:50%;
    }

    .data{
        width:40%;
    }

    .cobrade-sub{
        width: 70%;
    }

    .btn, .btn-default, .btn-md{
        left: 35%;
        margin: 10px;
    }

    .btn-interdicao{
        display: block;
        left: 0%;
        top: 0%;
    }

    .btn-interdicao-g{
        display: block;
        left: 25%;
        top: 0%;
    }

    .btn-desinterdicao{
        display: block;
        left: 25%;
        top: 0%;
    }

    .img-user{
        position: relative;
        left: 10%;
    }
}