body{
    padding: 0px;
    margin: 0px;
    background-color: #ffe;
}

/* ajustes pra telas pequenas */
@media all and (max-width: 600px){
    .corner-img { display: none; }
    .page-title { left: 0px; font-size: 20px; }
    .footer{ display: block; padding: 0px 0px 0px 0px; }
}

/* login */
.img-box{
    position: relative;
    right: 35%;
    width: 15%;
    padding: 0px;
}

.corner-img{
    position: relative;
    left: 10%;
    width: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
}

.page-title{
    position: relative;
    left: 28%;
    font-size: 60px;
    color: gray;
}

.login-box{
    position: relative;
    top: 60px;
    float: center;
    width: 50%;
}

.esqueceuSenha{
    position: relative;
    left: 40%;
}

/* header */
.img-perfil{
    width: 30px;
}

/* geral */
.positioning{
    width: 70%;
    padding: 0px;
}

.campo_cadastro{
    padding: 15px 0px 15px 0px;
    margin: 0px;
}

.box{
    background-color: white;
    font-size: 14px;
    color: black;
    padding: 5px 15px 5px 15px;
    margin: 0px 10px 10px 10px;
    text-align: left;
    width: 100%;
}

.box p{
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.input-group{
    padding: 10px;
    width: 100%;
}

.form-control{
    width: 100%;
}

.btn{
    position: relative;
    left: 45%;
    top: 10px;
    font-size: 15px;
    padding: 10px;
}

div h4{
    position: relative;
    top: -40px;
}

.inline{
    display: inline-block;
}

.hide{
    display: none;
}

.alertErro{
    color:#f22a1f;
    font-size:14px;
}

.box-search{
    position: relative;
    top: -30px;
}

.none{
    display: none;
}

.autocomplete{
    width: 100%;
}

.autocompleteBtn{
    border: 1px solid #A5ACB2;
    width: 100%;
}

/* especificos */
.cobrade{
    position: relative;
    left: 50px;
}

.btn-default1{
    width: 30%;
}

.edit{
    float: right;
}

.btn-sm{
    position: relative;
    top: 0px;
    left: 10px;
    font-size: 10px;
    padding: 5px;
    margin: 0px;
}

.char-count{
    color:#ccc;
    font-size:12px;
    position: relative;
    bottom:20px;
    left:90%;
}

.sort-icon{
    font-size: 10px;
    float: right;
}

/* footer */
.footer{
    display: inline;
    padding: 0px 150px 0px 0px;
    position: relative;
    top: 100px;
}