<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <table border="1" width="100%">
        <tr>
            <th ng-click="orderByMe('name')">Name</th>
            <th ng-click="orderByMe('city')">City</th>
        </tr>
        <tr ng-repeat="x in names | orderBy:myOrderBy">
            <td>{{x.name}}</td>
            <td>{{x.city}}</td>
        </tr>
    </table>
</div>

<script>
    angular.module("myApp", [])
        .controller("myCtrl", function($scope){
            $scope.names = [
                {name:'Kaique',city:'Ituporanga'}, 
                {name:'Jonath',city:'Barra Velha'}, 
                {name:'Matheus',city:'Navegantes'}, 
                {name:'Lucas',city:'Gaspar'}, 
                {name:'Luiz',city:'Gaspar'}, 
                {name:'Marcelo',city:'Itajaí'}
            ];
            $scope.orderByMe = function(x){
                $scope.myOrderBy = x;
            }
    });
</script>
</body>
</html>